<%- include('includes/head.ejs')%>
<body>
    <div class="container">
        <h1>Nueva Masctota</h1>
        <form action ="nueva-mascota" method="POST"><input type="text" name="nombre"><input type="submit" name="enviar" value="adoptar"></form>
    </div>
</body>
<%- include('includes/footer.ejs')%>