<%for (let element of lista){%>
    <tr>
        <td><%=element.nombreLugar%></td>
        <td><%=element.lugarID%></td>
        <td><%=element.nombreTipo%></td>
        <td><%=element.tipoID%></td>
    </tr>
<%}%>