<nav>
    <div class="nav-wrapper">
      <a href="/incidentes" class="brand-logo center">Welcome to Jurassic Park</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/incidentes/nuevo-incidente">Nuevo Incidente</a></li>
      </ul>
      <a href="/usuarios/logout" class="right">Salir<i class="small material-icons">exit_to_app</i></a>
    </div>
  </nav>
        