<nav>
    <div class="nav-wrapper">
      <a href="/mascotas" class="brand-logo center">Mascotas Cool</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/mascotas/nueva-mascota">Nueva mascota</a></li>
      </ul>
    </div>
  </nav>
        