<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/head.ejs')%>
  <title>Mascotas</title>
</head>
<body>
  <%- include('includes/navbar.ejs')%>
    <div class="container">
        <h1>Nuestros perros</h1>
          <div class="row">
                <%- include('includes/tarjeta_mascota.ejs')%>
            </div>
    </div>
</body>
<%- include('includes/footer.ejs')%>
</html>