<!DOCTYPE html>
<html lang="es-mx">
<%- include('includes/head.ejs')%>
<body>
  <%- include('includes/navbar.ejs')%>
    <div class="container">
        <h2>Incidentes</h2>
          <div class="row">
            <%- include('includes/incidente.ejs')%>
          </div>
    </div>
</body>
<%- include('includes/footer.ejs')%>
</html>